<div class="emailInput" *ngIf="state" >
    <div class="mb-3 " style="width: 30%;">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" #txtPassword>      
    </div>
    <div class="mb-3 " style="width: 30%;">
        <label for="passwordConfirm" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="passwordConfirm" placeholder="Password Confirm" #txtConfirmPassword>
        <button type="button" style="margin-top: 10px;" class="btn btn-primary" (click)="updatePassword(txtPassword.value,txtConfirmPassword.value)">Update Password</button>       
    </div>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="!state" >
    This link is invalid.</div>
