<mat-list role="list" class="list">
    
    


    <a mat-list-item role="listitem" class="adminMenu" routerLink="products">Products</a>
    <a mat-list-item role="listitem" class="adminMenu" routerLink="categories">Categories</a>
    <a mat-list-item role="listitem" class="adminMenu" routerLink="orders">Orders</a>
    <a mat-list-item role="listitem" class="adminMenu" routerLink="roles">Roles</a>
    <a mat-list-item role="listitem" class="adminMenu" routerLink="users">Users</a>
    <a mat-list-item role="listitem" class="adminMenu" routerLink="/">Back to site</a>
    
    
</mat-list>